

#Facial Fecognition
insightface
opencv-python
open_clip_torch
faiss-cpu
torchvision
onnxruntime
ultralytics

#OCR

paddlepaddle
paddleocr
rapidfuzz
#easyocr
#pytesseract
 python-doct

#NLP
transformers
scikit-learn
torch
sentence-transformers
langchain
langchain-core
langchain-community
langchain-huggingface
accelerate
einops
pydantic
python-dotenv

#AUDIO
speechbrain
librosa
soundfile
imageio_ffmpeg
webrtcvad
imageio


# Other dependencies
numpy
pillow
tqdm
pathlib
matplotlib
pandas
ipywidgets
ultralytics
tensorflow
typing-extensions
einops
rich



#audio
resemblyzer
speechbrain
librosa
soundfile
imageio-ffmpeg

#Database
chromadb

nemo_toolkit[asr]
protobuf==5.28.3
